.character_list_container {
	position: absolute;
    left: 0;
	display: grid;
	grid-template-columns: 80px 80px 80px 80px;
	grid-template-rows: 100px 100px 100px 100px 100px;
	width: 320px;
    background-color: rgba(17,17,17,0.55);
    box-shadow: 1px 1px 5px 1px #404040bf;
    padding: 10px;
}