body {
	font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
}

.container_background_video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  height: auto;
  width: auto;
}

.container_content {
  position: relative;
  top: 66px;
  left: 70px;
  width: calc(100% - 80px);
  margin: 5px 15px;
}