.event_controls_container {
	position: relative;
	display: flex;
}

.event_controls_filters {
    width: 100%;
	display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 15px 5px;
}

.event_new_button {
    background-color: #30902a;
}